# Server Configuration
PORT=5000
NODE_ENV=development

# Database Configuration
# Local MongoDB connection: mongodb://127.0.0.1:27017/ecommercedb
# MongoDB Atlas connection: mongodb+srv://<username>:<password>@cluster.mongodb.net/ecommercedb
MONGO_URI=mongodb://127.0.0.1:27017/ecommercedb

# Security Secrets
# Change this to a complex cryptographically secure key in production
JWT_SECRET=super_secure_and_extremely_confidential_random_hash_987654321
